@import '../../Assets/scss/variables.scss';
@import '../../Assets/scss/mixins.scss';

.movie-tv-show-details{
    // background-color: $secondBackColor;
    // padding: 25px 50px;
    @include my-flex(center, column, center);
    .details-back{
        @include my-container;
        // background-color: blue;
        padding: 30px 5px;
        @include my-flex(flex-start, row, center);
        align-self: flex-start;
        transition: $transition;
        cursor: pointer;
        &:hover{
            transform: scale(1.01);
        }
        .details-back-icon{
            font-size: 2rem;
        }
        .details-back-span{
            margin: 0 20px;
            font-size: 1.2rem;
        }
    }
    .details-content{
        width: 100%;
    }
}

@media only screen and (max-width: 319px) {
    .movie-tv-show-details{
        .details-back{
            padding: 10px 5px;
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 768px){
    .movie-tv-show-details{
        .details-back{
            padding: 15px 5px;
        }
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
    .movie-tv-show-details{
        .details-back{
            padding: 20px 5px;
        }
    }
}