@import '../../Assets/scss/variables.scss';
@import '../../Assets/scss/mixins.scss';

.movie-tv-show-details{
    // background-color: $secondBackColor;
    // padding: 25px 50px;
    @include my-flex(center, column, center);
    .details-back{
        // background-color: blue;
        padding: 30px 5px;
        @include my-flex(flex-start, row, center);
        align-self: flex-start;
        transition: $transition;
        cursor: pointer;
        &:hover{
            transform: scale(1.05);
        }
        .details-back-icon{
            font-size: 2rem;
        }
        .details-back-span{
            margin: 0 20px;
            font-size: 1.2rem;
        }
    }
    .details-image{
        @include my-flex(center, column, center);
        img{
            width: 100%;
        }
    }
    .details-title{
        padding: 30px;
        text-transform: uppercase;
        font-size: 1.5rem;
        letter-spacing: .3rem;
    }
    .details-description{
        padding: 10px;
        font-size: 1.2rem;
        line-height: 1.3rem;
    }
}