@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');

$firstBackColor: #202329;
$secondBackColor: #252525;
$firstFontColor: #efd7bb;
$iconColor: #fc6529;
$borderFont: rgb(199, 194, 194);
$firstFontF: Josefin Sans;
$secondFontF: Rubik Glitch;
$transition:  0.4s ease-in;