@import '../../Assets/scss/mixins.scss';
@import '../../Assets/scss/variables.scss';

.card-details{
    @include my-flex(center, row, normal);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
    .card-details-image{
        flex: 1;
        @include my-flex(center, column, center);
        img{
            border-radius: 5px;
            box-shadow: 0 0 7px 1px $firstFontColor;
            width: 70%;
        }
        .image-homepage{
            width: 70%;
            @include my-flex(center, column, center);
            transition: $transition;
            cursor: pointer;
            img{
                border-radius: 5px;
                box-shadow: 0 0 7px 1px $firstFontColor;
                width: 100%;
            }
            &:hover{
                box-shadow: 0 0 7px 2px $firstFontColor;
                transform: scale(1.01);
            }
        }
    }
    .card-details-info{
        flex: 2;
        @include my-flex(flex-start, column, normal);
        .card-details-title{
            @include my-flex(flex-start, row, center);
            text-transform: capitalize;
            margin-bottom: 30px;
            letter-spacing: .1rem;
            h2{
                font-size: 2rem;
            }
            .title-icon{
                @include my-flex(flex-start, row, center);
                margin: 0 20px;
                .imdb{
                    font-size: 2rem;
                    color: yellow;
                }
                &:hover{
                    transform: scale(1.05);
                }
            }
        }
        .card-details-overview{
            font-size: 1.2rem;
            letter-spacing: .1rem;
            line-height: 1.5rem;
        }
        .card-details-video{
            @include my-flex(flex-start, row, center);
            margin-bottom: 15px;
            font-size: 1rem;
            text-transform: uppercase;
            .video-icon{
                font-size: 1.2rem;
                margin-right: 20px;
                transition: $transition;
                &:hover{
                    transform: scale(1.05);
                }
            }
        }
    }
}

@media only screen and (max-width: 319px) {
    .card-details{
        @include my-flex(center, column, center);
        background-position: center;
        padding: 30px 10px;
        .card-details-image{
            flex: 1;
            img{
                width: 100%;
            }
            .image-homepage{
                width: 100%;
                @include my-flex(center, column, center);
                img{
                    border-radius: 5px;
                    box-shadow: 0 0 7px 1px $firstFontColor;
                    width: 100%;
                }
            }
        }
        .card-details-info{
            flex: 1;
            @include my-flex(center, column, center);
            text-align: center;
            .card-details-title{
                margin: 30px 0;
                @include my-flex(center, column, center);
                .title-icon{
                    margin-top: 10px;
                }
                h2{
                    font-size: 2rem;
                }
            }
            .card-details-overview{
                font-size: 1.1rem;
                line-height: 1.4rem;
            }
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 768px){
    .card-details{
        @include my-flex(center, column, center);
        background-position: center;
        padding: 30px 10px;
        .card-details-image{
            flex: 1;
            img{
                width: 100%;
            }
            .image-homepage{
                width: 100%;
                @include my-flex(center, column, center);
                img{
                    border-radius: 5px;
                    box-shadow: 0 0 7px 1px $firstFontColor;
                    width: 100%;
                }
            }
        }
        .card-details-info{
            flex: 1;
            @include my-flex(center, column, center);
            text-align: center;
            .card-details-title{
                margin: 30px 0;
                @include my-flex(center, column, center);
                .title-icon{
                    margin-top: 10px;
                }
                h2{
                    font-size: 2rem;
                }
            }
            .card-details-overview{
                font-size: 1.1rem;
                line-height: 1.4rem;
            }
        }
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
    .card-details{
        background-position: center;
        padding: 50px;
        .card-details-image{
            img{
                width: 80%;
            }
            .image-homepage{
                width: 80%;
                @include my-flex(center, column, center);
                img{
                    border-radius: 5px;
                    box-shadow: 0 0 7px 1px $firstFontColor;
                    width: 100%;
                }
            }
        }
    }
}